section.projects {
  display: flex;
  flex-direction: column;
  margin: 10px 80px;
  padding: 10px 20px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -30px;
}

.project-list li {
  color: #fff;
  flex: 0 0 calc(55% - 20px);
  margin: 10px;
}

.project-list li:nth-child(4n + 2),
.project-list li:nth-child(4n + 3) {
  flex-basis: calc(45% - 20px);
}

.project-tile {
  display: flex;
  flex-direction: column;
  height: 336px;
  justify-content: flex-end;
  padding: 20px;
  position: relative;
}

.project-tile img {
  background: #eee;
  display: block;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.project-tile p {
  margin: 5px 0;
}

.project-tile .project-tile-name {
  font-size: 18px;
  font-weight: 600;
}

.project-tile .project-tile-location {
  font-size: 12px;
  text-transform: uppercase;
}

.project-tile a {
  border: 2px solid #fff;
  color: #fff;
  display: none;
  font-weight: 600;
  line-height: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  width: 225px;
}

.project-tile:hover {
  align-items: center;
  justify-content: center;
}

.project-tile:hover .project-tile-name {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.project-tile:hover .project-tile-name:before {
  background: #000;
  bottom: 0;
  display: block;
  content: '';
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.project-tile:hover .project-tile-location {
  font-size: 18px;
  margin-bottom: 50px;
  text-align: center;
}

.project-tile:hover a {
  display: inline-block;
}

.button {
  align-self: center;
  background: #3fbded;
  color: #fff;
  display: flex;
  font-weight: 600;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-top: 50px;
  text-align: center;
  text-decoration: none;
  width: 225px;
}
