.header {
  align-items: center;
  color: #333;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  padding: 0 80px;
}

.link {
  background: url(../../images/logo.png) no-repeat 0 0;
  display: block;
  height: 60px;
  margin-right: auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 220px;
}

.contact {
  margin-right: 20px;
  text-transform: uppercase;
}

.login {
  background: #333;
  color: #fff;
  height: 38px;
  width: 90px;
}
